.button{
	border: none !important;
}
#loginb{
	cursor: pointer;
}
.blogin{
	width: 104px;
	height: 34px;
	background: transparent url('images/login.png') no-repeat center center;
	cursor: pointer;
	border: none !important;
}
.blogin:hover{background-image: url('images/loginh.png');}
.blogin:active{background-image: url('images/logina.png');}

#registerb{
	cursor: pointer;
}
.bregister{
	width: 104px;
	height: 34px;
	background: transparent url('images/register.png') no-repeat center center;
	cursor: pointer;
	border: none !important;
}
.bregister:hover{background-image: url('images/registerh.png');}
.bregister:active{background-image: url('images/registera.png');}

.toolbox .button,.userbox .button{width: 36px;height: 36px;display: block;border: none;cursor: pointer;vertical-align: center;}
.toolbox .button:hover{background-color: rgba(28,28,28,0.7);border: 1px solid rgba(255,255,255,0.7);}

.toolbox .new{background: transparent url('icons/new.png') no-repeat center center;}
.toolbox .save{background: transparent url('icons/save.png') no-repeat center center;}
.toolbox .cancel{background: transparent url('icons/cancel.png') no-repeat center center;}
.toolbox .clear{background: transparent url('icons/clear.png') no-repeat center center;}
.toolbox .brush{background: transparent url('icons/brush.png') no-repeat center center;}

.userbox .delete{background: transparent url('icons/delete.png') no-repeat center center;}
.userbox .download{background: transparent url('icons/download.png') no-repeat center center;}
.userbox .extend{background: transparent url('icons/extend.png') no-repeat center center;}

.bsubmit{
	width: 104px;
	height: 34px;
	background: transparent url('images/submit.png') no-repeat center center;
	cursor: pointer;
	border: none !important;
	float: right;
}
.bsubmit:hover{background-image: url('images/submith.png');}
.bsubmit:active{background-image: url('images/submita.png');}