.quota{
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 15px 5px auto;
	background: transparent url('images/black.png');
	border: 1px solid #787878;
	position: relative;
}
.quota .qinfo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
}
.quota .qbar{
	display: block;
	padding: 2px 0;
}
.quota .qnotice{
	position: fixed;
	top: 0px;
	left: 40%;
	width: 20%;
	background-color: #dc0000;
	border: 1px solid #ababab;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 5px #000000;
	   -moz-box-shadow: 0px 3px 5px #000000;
	        box-shadow: 0px 3px 5px #000000;
}
.quota .qcolor_m20{background-color: #56D700;}
.quota .qcolor_m40{background-color: #C6FF00;}
.quota .qcolor_m60{background-color: #FFFF00;}
.quota .qcolor_m80{background-color: #F89501;}
.quota .qcolor_m100{background-color: #DC0000;}

.quota .qtext_m20,.quota .qtext_m100{color: #ffffff;}
.quota .qtext_m40,.quota .qtext_m60,.quota .qtext_m80{color: #0080FF;}
